<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Eclipse RCP">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="3.5.1.M20090917-0800"/>
<unit id="org.junit4" version="4.5.0.v20090824"/>
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
</locations>
</target>
