<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.rcpbuch.addressbook.vcard.VCardPerspective"
            icon="icons/vcard.png"
            id="de.rcpbuch.addressbook.vcard.VCardPerspective"
            name="Visitenkarten">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.rcpbuch.addressbook.vcard.VCardView"
            id="de.rcpbuch.addressbook.vcard.VCardView"
            name="Visitenkarten"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.rcpbuch.addressbook.AddressPerspective">
         <perspectiveShortcut
               id="de.rcpbuch.addressbook.vcard.VCardPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
