<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.springframework.util.SpringExtensionFactory"
            default="false"
            icon="icons/user_orange.png"
            id="de.rcpbuch.addressbook.editor"
            name="Adresse">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.rcpbuch.addressbook.addresslist">
         <command
               commandId="de.rcpbuch.addressbook.editor.open"
               icon="icons/user_orange.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.rcpbuch.addressbook.editor.open"
            name="Adresse öffnen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.rcpbuch.addressbook.editor.internal.OpenAddressEditorHandler"
            commandId="de.rcpbuch.addressbook.editor.open">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="de.rcpbuch.addressbook.entities.Address">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
